<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RuntimeTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C3FB1FE81D23AEA3009A7FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3FB20011D23AEA3009A7FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3FB200C1D23AEA3009A7FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
